<div class="wk-tabs wk-tabs-classic" role="tablist">
    <button class="wk-tab wk-has-inner-content" aria-disabled="false" role="tab" aria-selected="false"
      aria-controls="iempiudc9jj" id="i26ugz7ef2d6">
      <div class="wk-tab-inner-content" tabindex="-1" routerLink="">New Use Case</div>
    </button>
    <button class="wk-tab wk-is-disabled wk-has-inner-content" disabled aria-disabled="true" role="tab"
      aria-selected="false" aria-controls="i1gd19zfcvni" id="i162ecvcyxz1">
      <div class="wk-tab-inner-content" tabindex="-1">Change Request</div>
    </button>
      <button class="wk-tab wk-has-inner-content" aria-disabled="false" role="tab" aria-selected="false"
      aria-controls="i1z1li7u5lkk" id="iehxa94kmfw8">
      <div class="wk-tab-inner-content" tabindex="-1" (click)="showNewModule()">New Module</div>
    </button>
  </div>